<div id="content">
 <div class="container">
 <% if @user.type == "JobSeeker" %>
 <%= render 'pages/onboarding/sidebar' %>
 <%end%>
        <%= render "shared/messages" %>


<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,id: 'login-form',:multipart => true }) do |f| %>
  <%= devise_error_messages! %>

<h1>Edit Profile</h1>
  <div class="input-field">
    <label>Email:</label><input type="email" name="user[email]" required placeholder="Email" disabled= true  value= <%= @user.email %>>
    <label>Full Name:</label>
    <input type="text" name="user[name]" required placeholder="Name" value= <%= @user.name %>>
    

    <% if @user.type == "JobSeeker" %>
    <label>Location:</label>
    <input type="text" name="user[location]" required placeholder="Location" value= <%= @user.location %>>
    
    <% else %>
    <% if @user.type == "Employers"  %>
    <label>Contact No.:</label>
    <input type="text" name="user[contact]" required placeholder="Contact No." value= <%= @user.contact %>>
    <label>Company:</label>
    <input type="text" name="user[company]" required placeholder="Company" value= <%= @user.company %>>
    <% end %>
    <% end %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
<% if user_signed_in? && current_user.provider != 'facebook' && current_user.provider != 'linkedin' && current_user.provider != 'google'%>
<label>New Password:</label>
    <input type="password" name="user[password]" required placeholder="New Password" />
    <label>Confirm Password:</label>
    <input type="password" name="user[password_confirmation]" required placeholder=" Confirm Password" />
    <label>Previous Password:</label>
    <input type="password" name="user[current_password]" required placeholder=" Previous Password" />
  </div>
  <%end%>

  <button id="submit" class="btn-system btn-large" type="submit" style="float: right;">Update</button>
<% end %>
</div>


</div>


