
<div id="content" style="background: url('<%= image_path('testimonials-bg3.jpg') %>');">
  <div class="container">
    <%= render "shared/messages" %>

    <div class="tabs-section">
      <div style="max-width: 650px; margin: 0 auto;">
        <ul class="nav nav-tabs">
          <li class="active" style="width: 50%; margin: 0;">
            <a data-toggle="tab" href="#tab-1" style="margin: 0; padding: 1.5rem; border: 0; border-radius: 0px; text-align: center;">JOBSEEKER</a>
          </li>
          <li class="" style="width: 50%; margin: 0;">
            <a data-toggle="tab" href="#tab-2" style="margin: 0; padding: 1.5rem; border: 0; border-radius: 0px; text-align: center;">EMPLOYER</a>
          </li>
        </ul>
      </div>
      <!-- Tab panels -->
      <div class="tab-content" style="max-width: 100%; border: 0; padding: 0; margin-top: -1px;">
        <!-- Tab Content 1 -->
        <div id="tab-1" class="tab-pane active">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: 'registration-form', class: 'box', style: 'max-width: 650px;' }) do |f| %>
            <div class="form-header" style="margin-top: 20px; padding: 2rem;">
              <h3 style="font-size: 2.7rem;">We Bring Job Offers to You</h3>
              <span>Join thousands of people who've found their dream job using Headhunter.</span>
            </div>

            <%= devise_error_messages! %>
            
            <div class="field-container">
              <div class="field-label">
                <%= f.label :name, class: 'field-required block-label' %>
              </div>
              <div class="field-input">
                <%= f.input_field :name, required: true, placeholder: 'First and last name' %>
                <%= f.error :name %>
              </div>
              <div class="field-label">
                <%= f.label :email, class: 'field-required block-label' %>
              </div>
              <div class="field-input">
                <%= f.input_field :email, required: true, placeholder: 'you@example.com' %>
              </div>
              <div class="field-label">
                <%= f.label :password, class: 'field-required block-label' %>
              </div>
              <div class="field-input">
                <%= f.input_field :password, required: true, placeholder: 'Create password' %>
              </div>
              <div class="field-label">
                <%= f.label :location, class: 'field-required block-label' %>
              </div>
              <div class="field-input">
                <%= f.input_field :location, placeholder: 'Address or City, State/Country' %>
              </div>
              <input type="hidden" value="JobSeeker" name="user[type]" required />
            </div>
            <hr/>
            <div class="field-container">
              <p style="float:left;">Already have an account?<br/><%= link_to "Sign in.", new_user_session_path %></p>
              <button id="submit" class="btn-system btn-large" type="submit" style="float: right; margin-bottom: 30px;">Get Started</button>
              <div style="clear: both;"></div>
            </div>
          <% end %>
        </div>
        
        <!-- Tab Content 2 -->
        <div id="tab-2" class="tab-pane">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: 'registration-form', class: 'box', style: 'max-width: 650px;' }) do |f| %>
            <div class="form-header" style="margin-top: 20px; padding: 2rem;">
              <h3 style="font-size: 2.7rem;">Sign Up to Start Hiring</h3>
              <span>Get access to top quality, high intent candidates today.</span>
            </div>
            <%= devise_error_messages! %>

            <div class="field-container">
              <div class="field-label">
                <%= f.label :company, class: 'field-required block-label' %>
              </div>
              <div class="field-input">
                <%= f.input_field :company, required: true, placeholder: 'Company name' %>
              </div>
              <div class="field-label">
                <%= f.label 'Location', class: 'field-required block-label' %>
              </div>
              <div class="field-input">
                <%= f.input_field :location, placeholder: 'Address or City, State/Country' %>
              </div>
              <div class="field-label">
                <%= f.label 'Name', class: 'field-required block-label' %>
              </div>
              <div class="field-input">
                <%= f.input_field :name, required: true, placeholder: 'First and last name' %>
                <%= f.error :name %>
              </div>
              <div class="field-label">
                <%= f.label :phone, class: 'field-required block-label' %>
              </div>
              <div class="field-input">
                <%= f.input_field :phone, required: true, placeholder: 'xxxx-xxxx' %>
              </div>
              <div class="field-label">
                <%= f.label :email, class: 'field-required block-label' %>
              </div>
              <div class="field-input">
                <%= f.input_field :email, required: true, placeholder: 'name@workplace.com' %>
              </div>
              <div class="field-label">
                <%= f.label :password, class: 'field-required block-label' %>
              </div>
              <div class="field-input">
                <%= f.input_field :password, required: true, placeholder: 'Create password' %>
              </div>
              <input type="hidden" value="Employers" name="user[type]" required />
            </div>
            <hr/>
            <div class="field-container">
              <p style="float:left;">Already have an account?<br/><%= link_to "Sign in.", new_user_session_path %></p>
              <button id="submit" class="btn-system btn-large" type="submit" style="float: right; margin-bottom: 30px;">Apply As Employer</button>
              <div style="clear: both;"></div>
            </div>
          <% end %>       
        </div>
      </div>
    </div>
  </div>
</div>



