<h4 class="classic-title"><span>Sign Up</span></h4>
<div id="content" style="background: url('<%= image_path('testimonials-bg3.jpg') %>');">
      <div class="container">
        <%= render "shared/messages" %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),html: { id: 'login-form'}) do |f| %>
<h1><a href="#tab-1" data-toggle="tab">Talent</a>|
<a href="#tab-2" data-toggle="tab">Employer</a></h1>
<% end %>


<div class="tab-pane fade in active" id="tab-1" style="position:relative;margin-top:-29px">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),html: { id: 'login-form'}) do |f| %>
<%= devise_error_messages! %>
  <div id = "Talent" class="input-field">
  <input type="text" name="user[name]" required placeholder="Full Name" />
    <input type="email" name="user[email]" required placeholder="Email" />
    <input type="text" name="user[location]" required placeholder="Where you live" /><br/>
    <input type="password" name="user[password]" required placeholder="Create Password" />
    <input type="hidden" value="JobSeeker" name="user[type]" required />
  </div>
  <button id="submit" class="btn-system btn-large" type="submit" style="float: right;">Sign Up</button>
  </div>
  <% end %>

<div class="tab-pane fade" id="tab-2" style="position:relative;margin-top:-340px">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),html: { id: 'login-form'}) do |f| %>
<%= devise_error_messages! %>
   <div id="Employer" class="input-field">
  <input type="text" name="user[name]" required placeholder="Full Name" />
    <input type="email" name="user[email]" required placeholder="Email" />
    <input type="number" name="user[contact]" required placeholder="Contact No." /><br/>
    <input type="text" name="user[company]" required placeholder="Company" />
    <input type="password" name="user[password]" required placeholder="Password" />
    <input type="password" name="user[password_confirmation]" required placeholder=" Confirm Password" />
    <input type="hidden" value="Employers" name="user[type]" required />
  </div>
  <button id="submit" class="btn-system btn-large" type="submit" style="float: right;">Sign Up</button>
</div>
  
<% end %>

                  <!-- End Accordion 1 -->

                  <!-- Start Accordion 2 -->
                  
                    
                              

                   
                  <!-- End Accordion 2 -->
              
</div>
</div>
</div>




