<center><h1>Employers Home Page</h1></center>
<div id="content">
      <div class="container">
       <%= render "shared/messages" %>
       <h2>All Candidates:</h2>
         <%@listing = Listing.all%>
    <%@listing.each do |listing|%>
    <h2>Candidate: </h2>
        <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="media">
                            <div class="media-left media-middle">
                               <%@info = Info.where(:user_id => listing.user_id).to_a.to_a%>
    <%@info.each do |info|%>
    <%= image_tag info.avatar.url(:medium) %>
                                <%end%>
                            </div>
                            <div class="media-body">
                            <%@user = User.where(:id => listing.user_id).to_a.to_a%>
    <%@user.each do |user|%> 
                                <span id="Name"><h4 class="media-heading"><%= user.name%></h4></span>
                                <%end%>

                                <span id="Status"><strong>Status:</strong> <%=listing.status%></span>
                                <br>
                                <span id="Profile"><strong>Profile:</strong> <a href='/users/<%=listing.user_id%>' target="_blank">
                                 Profile Link</a>
                                <br/>
                                <!--Skills-->
                               <%@skill = Skill.where(:user_id => listing.user_id).to_a.to_a%>
    <%@skill.each do |skill|%> 
                                <span id="Area"><strong>Area of Expertise:</strong> <%=skill.area%></span>
                                <br>
                                <span id="Skill"><strong>Top Skill:</strong> <%=skill.skill%></span>
                                <%end%>
                                <br>
                                <!--Preference-->
     <%@preferences = Preferences.where(:user_id => listing.user_id).to_a.to_a%>
    <%@preferences.each do |preference|%>
                                <span id="Preference"><strong>Preference:</strong> Prefers only <%= preference.type%> roles with a base salary of <span style="color:green;"> $<%= preference.salary%>/yr</span>
    <%end%>
                                <br>
                                <br>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <%end%>
                                <br>
                                
                                <br>
                                <br>
                                
                            
                
      </div>
    </div>