<div id="content" style="background: url('<%= image_path('testimonials-bg3.jpg') %>');">
      <div class="container">
        <%= render "shared/messages" %>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id:'login-form'}) do |f| %>
  <%= devise_error_messages! %>
  <h1>Reset Password</h1>

<div class="input-field">
    <input type="email" name="user[email]" required placeholder="Email" />
</div>

  <button id="submit" class="btn-system btn-large" type="submit" style="float: right;">Submit</button>
<% end %>
</div>
</div>
<%= render "devise/shared/links" %>
