<div id="content">
   <div class="container">
   <%= render 'pages/onboarding/sidebar' %>
<%= render "shared/messages" %>
<%@preferences = Preferences.where(:user_id => current_user.id).to_a.to_a%>
<%@preferences.each do |preference|%>
<%= simple_form_for :preferences, html: { multipart: true, id: 'login-form'} do |f| %>
<h1>Job Preferences</h1>

<div class="input-field">
<input type="hidden" name="preferences[user_id]" value= <%= current_user.id %>>
<input type="hidden" name="[id]" value= <%= preference.id %>>
<label>What type of employment are you seeking?</label>
<input type="radio" name="preferences[type]" value="Permanent" checked required> Permanent (full-time)<br>
  <input type="radio" name="preferences[type]" value="Contract" required> Contract<br>
  <input type="radio" name="preferences[type]" value="Part-Time" required> Part-time, not contract<br>
  <input type="radio" name="preferences[type]" value="Intern" required> Intern<br>

  <label>Why are you interested in new job opportunities?</label>
  <textarea rows="4" cols="50" name="preferences[why]" required>
  <%= preference.why %>
</textarea>

<label>Where are you in your job search?</label>
<input type="radio" name="preferences[where]" value="Currently Interviewing" checked required> Currently Interviewing<br>
  <input type="radio" name="preferences[where]" value="Not yet Interviewed" required> Haven't interviewed yet, but ready to start<br>
  <input type="radio" name="preferences[where]" value="Not looking for a new role" required>Not looking for a new role<br>

  <label>What base annual salary are you looking for in your next role?</label>
  <input type="number" name="preferences[salary]" placeholder="S$" required value=<%= preference.salary %>>
<%end%>
<input class="btn-system btn-large" type="submit" value="Save" style="float: right;">
   </div>
   </div>
   <%end%>

   <% if @preferences = Preferences.where(:user_id => current_user.id).blank?%>
   <%= simple_form_for :preferences, html: { multipart: true, id: 'login-form'} do |f| %>
<h1>Job Preferences</h1>
<div class="input-field">
<input type="hidden" name="preferences[user_id]" value= <%= current_user.id %>>
<label>What type of employment are you seeking?</label>
<input type="radio" name="preferences[type]" value="Permanent" checked required> Permanent (full-time)<br>
  <input type="radio" name="preferences[type]" value="Contract" required> Contract<br>
  <input type="radio" name="preferences[type]" value="Part-Time" required> Part-time, not contract<br>
  <input type="radio" name="preferences[type]" value="Intern" required> Intern<br>

  <label>Why are you interested in new job opportunities?</label>
  <textarea rows="4" cols="50" name="preferences[why]" required >
</textarea>

<label>Where are you in your job search?</label>
<input type="radio" name="preferences[where]" value="Currently Interviewing" checked required> Currently Interviewing<br>
  <input type="radio" name="preferences[where]" value="Not yet Interviewed" required> Haven't interviewed yet, but ready to start<br>
  <input type="radio" name="preferences[where]" value="Not looking for a new role" required>Not looking for a new role<br>

  <label>What base annual salary are you looking for in your next role?</label>
  <input type="number" name="preferences[salary]" placeholder="S$" required>
<%end%>
<input class="btn-system btn-large" type="submit" value="Save" style="float: right;">
   </div>
   </div>
   <%end%>
