<!-- Start Home Page Slider -->
    <section id="home">
    	<img alt="" src="<%= image_path('testimonials-bg.jpg') %>" style="width: 100%;">

      <!-- Start Full Width Section 2 -->
      <div class="section" style="padding-top:60px; padding-bottom:60px; border-top:1px solid #eee; border-bottom:1px solid #eee; background:#f9f9f9;">
        <div class="container">

          <div class="row">

            <!-- Start Left Side -->
            <div class="col-md-6">

              <!-- Start Big Heading -->
              <div class="big-title">
                <h1><strong>What</strong> is Headhunter?</h1>
                <p class="title-desc">It's a marketplace where companies make you job offers.</p>
              </div>
              <!-- End Big Heading -->

              <!-- Some Text -->
              <p>Headhunter connects people looking for jobs with employers who want to hire them. 
                Candidates in this two-sided marketplace receive multiple, non-binding interview requests to begin conversations with employers that usually lead to competing formal offers.</p>

              <!-- Divider -->
              <div class="hr1" style="margin-bottom:14px;"></div>

              <!-- Start Icons Lists -->
              <div class="row">
                <div class="col-md-6">
                  <h4 class="classic-title"><span>Candidate</span></h4>
                  <ul class="icons-list">
                    <li><i class="fa fa-check-circle"></i> Free to use.</li>
                    <li><i class="fa fa-check-circle"></i> Pick the job that you love.</li>
                    <li><i class="fa fa-check-circle"></i> Access to thousands of companies.</li>
                    <li><i class="fa fa-check-circle"></i> You're in demand.</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h4 class="classic-title"><span>Employer</span></h4>
                  <ul class="icons-list">
                    <li><i class="fa fa-check-circle"></i> Transparent &amp; cost-effective process.</li>
                    <li><i class="fa fa-check-circle"></i> Hire the best talents.</li>
                    <li><i class="fa fa-check-circle"></i> Fill open roles fast.</li>
                    <li><i class="fa fa-check-circle"></i> Niche requirements? No problem.</li>
                  </ul>
                </div>
              </div>
              <!-- End Icons Lists -->

              <!-- Divider -->
              <div class="hr1" style="margin-bottom:20px;"></div>

              <!-- Button -->
              <a href="#" class="btn-system btn-small">Sign Up Now</a>
            </div>
            <!-- End Left Side -->

            <!-- Vimeo Iframe -->
            <div class="col-md-6">
              <iframe src="https://player.vimeo.com/video/63322694?title=0&amp;byline=0&amp;portrait=0" width="800" height="450"></iframe>
            </div>

          </div>

        </div>
      </div>
      <!-- End Full Width Section 2 -->
    </section>
    <!-- End Home Page Slider -->

    <!-- Start Content -->
    <div id="content">

      <!-- Start Services Section -->
      <div class="container">
        <div class="row">

          <!-- Start Big Heading -->
          <div class="big-title text-center">
            <h1>The Most <span class="accent-color">Flexible</span> & <span class="accent-color">Easy</span> To Use Marketplace for Jobs</h1>
            <p class="title-desc">Find your dream job today. </p>
          </div>
          <!-- End Big Heading -->

          <!-- Divider -->
          <div class="hr1" style="margin-top:20px; margin-bottom:20px;"></div>

           <!-- Start Service Icon 1 -->
          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
            <div class="service-icon">
              <i class="fa fa-globe icon-large"></i>
            </div>
            <div class="service-content">
              <h4>Worldwide</h4>
              <p>We have all the jobs available for you no matter where you are! Don't be afraid of being jobless anymore!</p>

            </div>
          </div>
          <!-- End Service Icon 1 -->

          <!-- Start Service Icon 2 -->
          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="02">
            <div class="service-icon">
              <i class="fa fa-rocket icon-large"></i>
            </div>
            <div class="service-content">
              <h4>Fast &amp; Easy</h4>
              <p>Think it is a hassle to find a job online? Fret not! Just upload your resume and that's about it!</p>
            </div>
          </div>
          <!-- End Service Icon 2 -->

          <!-- Start Service Icon 3 -->
          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="03">
            <div class="service-icon">
              <i class="fa fa-envelope icon-large"></i>
            </div>
            <div class="service-content">
              <h4>Notification</h4>
              <p>Get instant notifications when there are companies interested in you. That means: Less hours on the lookout for jobs.</p>
            </div>
          </div>
          <!-- End Service Icon 3 -->

          <!-- Start Service Icon 4 -->
          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="04">
            <div class="service-icon">
              <i class="fa fa-code icon-large"></i>
            </div>
            <div class="service-content">
              <h4>Job Matching</h4>
              <p>We bring jobs to you after deep analyzing on your particular set of skills from your profile. So now, you can do what you do best!</p>
            </div>
          </div>
          <!-- End Service Icon 4 -->

          <!-- Start Service Icon 5 -->
          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="05">
            <div class="service-icon">
              <i class="fa fa-heart icon-large"></i>
            </div>
           <div class="service-content">
              <h4>Engaged &amp; Involved</h4>
              <p>Companies compete for your attention. You can now choose to engage only with the companies you love.</p>
            </div>
          </div>
          <!-- End Service Icon 5 -->

          <!-- Start Service Icon 6 -->
          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="06">
            <div class="service-icon">
              <i class="fa fa-line-chart icon-large"></i>
            </div>
            <div class="service-content">
              <h4>Statistics</h4>
              <p>We analyze your profile and offer you detailed information on how you rank among the talent pool.</p>
            </div>
          </div>
          <!-- End Service Icon 6 -->

          <!-- Start Service Icon 7 -->
          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="07">
            <div class="service-icon">
              <i class="fa fa-lock icon-large"></i>
            </div>
            <div class="service-content">
              <h4>Privacy Settings</h4>
              <p>Privacy is important! Your profile is not shown to former employers or any other company you list.</p>
            </div>
          </div>
          <!-- End Service Icon 7 -->

          <!-- Start Service Icon 8 -->
          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="08">
            <div class="service-icon">
              <i class="fa fa-umbrella icon-large"></i>
            </div>
            <div class="service-content">
              <h4>Help &amp; Support</h4>
              <p>Encounter any issues? We have a dedicated team of professionals ready to assist you with any queries you have.</p>
            </div>
          </div>
          <!-- End Service Icon 8 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
      <!-- End Services Section -->

      <!-- Divider -->
      <div class="hr1 margin-60"></div>

      <div style="background-image:url('<%= image_path('bg-02.jpg') %>');">
        <div class="parallax-text-container-1">
          <div class="parallax-text-item">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                  <div class="counter-item">
                    <!--i class="fa fa-users"></i-->
                    <div class="timer" id="item1" data-to="991" data-speed="5000"></div>
                    <h5>Registered Candidates</h5>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                  <div class="counter-item">
                    <!--i class="fa fa-building"></i-->
                    <div class="timer" id="item2" data-to="7394" data-speed="5000"></div>
                    <h5>Registered Employers</h5>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                  <div class="counter-item">
                    <!--i class="fa fa-briefcase"></i-->
                    <div class="timer" id="item3" data-to="18745" data-speed="5000"></div>
                    <h5>Available Jobs</h5>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                  <div class="counter-item">
                    <!--i class="fa fa-male"></i-->
                    <div class="timer" id="item4" data-to="8423" data-speed="5000"></div>
                    <h5>Headhunted</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Divider -->
      <div class="hr1 margin-60"></div>

      <!-- Start Jobs & Skill Section -->
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!-- Classic Heading -->
            <h4 class="classic-title"><span>Latest Jobs</span></h4>

            <!-- Start Latest Posts -->
            <div class="latest-posts-classic">

              <!-- Post 1 -->
              <div class="post-row">
                <div class="left-meta-post">
                  <div class="post-date"><span class="day">06</span><span class="month">June</span></div>
                  <div class="post-type"><i class="fa fa-picture-o"></i></div>
                </div>
                <h3 class="post-title"><a href="#">Programmer</a></h3>
                <div class="post-content">
                  <p> Have a degree certificate in Programming? Here's a suitable job available now! </a></p>
                  <a class="read-more" href="#">Read More...</a></p>
                </div>
              </div>

              <!-- Post 2 -->
              <div class="post-row">
                <div class="left-meta-post">
                  <div class="post-date"><span class="day">02</span><span class="month">June</span></div>
                  <div class="post-type"><i class="fa fa-picture-o"></i></div>
                </div>
                <h3 class="post-title"><a href="#">Human Resource</a></h3>
                <div class="post-content">
                  <p> Do you like desk bound job? Handling with calls and enquiries? Here's a chance for you to apply! 
                  <a class="read-more" href="#">Read More...</a></p>
                </div>
              </div>

            </div>
            <!-- End Latest Posts -->
          </div>
          <!-- .col-md-6 -->

          <div class="col-md-6">

            <!-- Classic Heading -->
            <h4 class="classic-title"><span>SKills In Demand</span></h4>

            <div class="skill-shortcode">
              <div class="skill">
                <p>Web Analytics</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" data-percentage="85">
                    <span class="progress-bar-span">85%</span>
                    <span class="sr-only">85% Complete</span>
                  </div>
                </div>
              </div>
              <div class="skill">
                <p>Java Development</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" data-percentage="75">
                    <span class="progress-bar-span">75%</span>
                    <span class="sr-only">75% Complete</span>
                  </div>
                </div>
              </div>
              <div class="skill">
                <p>User Interface Design</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" data-percentage="54">
                    <span class="progress-bar-span">54%</span>
                    <span class="sr-only">54% Complete</span>
                  </div>
                </div>
              </div>
              <div class="skill">
                <p>Computer graphics and animation</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" data-percentage="38">
                    <span class="progress-bar-span">38%</span>
                    <span class="sr-only">38% Complete</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- .col-md-6 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
      <!-- End Jobs & Skill Section -->

      <!-- Start Team Member Section -->
      <div class="section" style="background:#fff;">
        <div class="container" style="width:60%;">

          <!-- Start Big Heading -->
          <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
            <h1>Our Great <strong>Team</strong></h1>
          </div>
          <!-- End Big Heading -->

          <!-- Some Text -->
          <p class="text-center">We are a group of <span class="accent-color sh-tooltip" data-placement="bottom" title="Simple Tooltip">NYP</span> lecturers and final year students from School of Information Technology (SIT).</p>
          <br>

          <!-- Start Team Members -->
          <div class="row">

            <!-- Start Member 1 -->
            <div class="col-md-4 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="03">
              <div class="team-member modern">
                <!-- Member Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="<%= image_path('members/male-default.jpg') %>">
                  <div class="member-name">Belson Heng <span>Developer</span>
                  </div>
                </div>
                <!-- Member Words -->
                <div class="member-info">
                  <p>Being able to put my passion for designing into web design is the greatest thing on earth!</p>
                </div>
                <!-- Start Progress Bar 1 -->
                <div class="progress-label">Web Development</div>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-progress-animation="96%" data-appear-animation-delay="400">
                    <span class="percentage">96%</span>
                  </div>
                </div>
                <!-- Start Progress Bar 2 -->
                <div class="progress-label">Logo Design</div>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-progress-animation="74%" data-appear-animation-delay="800">
                    <span class="percentage">74%</span>
                  </div>
                </div>
                <!-- Start Progress Bar 3 -->
                <div class="progress-label">Ruby on Rails</div>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-progress-animation="90%" data-appear-animation-delay="1200">
                    <span class="percentage">90%</span>
                  </div>
                </div>
                <!-- Member Social Links -->
                <div class="member-socail">
                  <a class="facebook" href="http://www.facebook.com/belsonheng" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                  <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <!-- End Member 1 -->

            <!-- Start Member 2 -->
            <div class="col-md-4 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="04">
              <div class="team-member modern">
                <!-- Member Photo, Name & Position -->
                <div class="member-photo">
                <img alt="" src="<%= image_path('members/male-default.jpg') %>">
                  <div class="member-name">Gabriel Woo <span>Developer</span>
                  </div>
                </div>
                <!-- Member Words -->
                <div class="member-info">
                  <p>I have a great interest in design and this definitely helps me to fulfil my dream! Hope you guys like the design.</p>
                </div>
                <!-- Start Progress Bar 1 -->
                <div class="progress-label">Photoshop</div>
                <div class="progress">
                  <div style="animation-delay: 400ms; width: 96%;" class="progress-bar progress-bar-primary" data-progress-animation="100%" data-appear-animation-delay="400">
                    <span class="percentage">96%</span>
                  </div>
                </div>
                <!-- Start Progress Bar 2 -->
                <div class="progress-label">Logo Design</div>
                <div class="progress">
                  <div style="animation-delay: 800ms; width: 88%;" class="progress-bar progress-bar-primary" data-progress-animation="90%" data-appear-animation-delay="800">
                    <span class="percentage">88%</span>
                  </div>
                </div>
                <!-- Start Progress Bar 3 -->
                <div class="progress-label">Vectors Design</div>
                <div class="progress">
                  <div style="animation-delay: 1200ms; width: 100%;" class="progress-bar progress-bar-primary" data-progress-animation="80%" data-appear-animation-delay="1200">
                    <span class="percentage">100%</span>
                  </div>
                </div>
                <!-- Member Social Links -->
                <div class="member-socail">
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                  <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                 
                </div>
              </div>
            </div>
            <!-- End Member 2 -->

            <!-- Start Member 3 -->
            <div class="col-md-4 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="05">
              <div class="team-member modern">
                <!-- Member Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="<%= image_path('members/female-default.jpg') %>">
                  <div class="member-name">Tiffany Hong <span>Developer</span>
                  </div>
                </div>
                <!-- Member Words -->
                <div class="member-info">
                  <p>It has been a joy coding webpages and design as well! It is a great learning experience that I'll never have.</p>
                </div>
                <!-- Start Progress Bar 1 -->
                <div class="progress-label">Photoshop</div>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-progress-animation="96%" data-appear-animation-delay="400">
                    <span class="percentage">96%</span>
                  </div>
                </div>
                <!-- Start Progress Bar 2 -->
                <div class="progress-label">Logo Design</div>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-progress-animation="88%" data-appear-animation-delay="800">
                    <span class="percentage">88%</span>
                  </div>
                </div>
                <!-- Start Progress Bar 3 -->
                <div class="progress-label">Programming</div>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-progress-animation="80%" data-appear-animation-delay="1200">
                    <span class="percentage">100%</span>
                  </div>
                </div>
                <!-- Member Social Links -->
                <div class="member-socail">
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                  <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <!-- End Member 3 -->
          </div>
          <!-- End Team Members -->
        </div>
        <!-- .container -->
      </div>
      <!-- End Team Member Section -->

      <!-- Start Client/Partner Section -->
      <div class="partner" style="padding-bottom: 0px;">
        <div class="container">
          <div class="row">

            <!-- Start Big Heading -->
            <div class="big-title text-center">
              <h1>Our Happy <strong>Clients</strong></h1>
              <p class="title-desc">Partners We Work With</p>
            </div>
            <!-- End Big Heading -->

            <!--Start Clients Carousel-->
            <div class="our-clients">
              <div class="clients-carousel custom-carousel touch-carousel navigation-3" data-appeared-items="1" data-navigation="true">

                <!-- Client 1 -->
                <div class="client-item item">
                  <a href="http://www.nyp.edu.sg" target="_blank"><%= image_tag('partners/nyplogo.jpg', height: '64', width: '180') %></a>
                </div>

                <!-- Client 2 -->
                <div class="client-item item">
                  <a href="#"><img src="" alt="" /></a>
                </div>

                <!-- Client 3 -->
                <div class="client-item item">
                  <a href="#"><img src="" alt="" /></a>
                </div>

                <!-- Client 4 -->
                <div class="client-item item">
                  <a href="#"><img src="" alt="" /></a>
                </div>

                <!-- Client 5 -->
                <div class="client-item item">
                  <a href="#"><img src="" alt="" /></a>
                </div>

                <!-- Client 6 -->
                <div class="client-item item">
                  <a href="#"><img src="" alt="" /></a>
                </div>

                <!-- Client 7 -->
                <div class="client-item item">
                  <a href="#"><img src="" alt="" /></a>
                </div>

                <!-- Client 8 -->
                <div class="client-item item">
                  <a href="#"><img src="" alt="" /></a>
                </div>

              </div>
            </div>
            <!-- End Clients Carousel -->
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->
      </div>
      <!-- End Client/Partner Section -->
    </div>
    <!-- End Content -->