<!-- Start Home Page Slider -->
    <section id="home">
    	<img alt="" src="<%= image_path('testimonials-bg.jpg') %>" style="width: 100%;">
    </section>
    <!-- End Home Page Slider -->


    <!-- Start Content -->
    <div id="content">


      <!-- Start Services Section -->
      <div class="container">
        <div class="row">

          <!-- Start Service Icon 1 -->
          <div class="col-md-4 col-sm-4 service-box service-icon-left-more">
            <div class="service-icon">
              <i class="fa fa-globe fa-4x"></i>
            </div>
            <div class="service-content">
              <h4>Global Top Job Finder Online</h4>
              <p>Why us? We always have all the jobs available online for you based on your skillset! Don't be afraid of being jobless!</p>
            </div>
          </div>
          <!-- End Service Icon 1 -->

          <!-- Start Service Icon 2 -->
          <div class="col-md-4 col-sm-4 service-box service-icon-left-more">
            <div class="service-icon">
              <i class="fa fa-magic fa-4x"></i>
            </div>
            <div class="service-content">
              <h4>Fast and Easy Access</h4>
              <p>Think it is a hassle to find a job online? We provide the easiest access in using our web to search a job for you! Hassle-free. </p>
            </div>
          </div>
          <!-- End Service Icon 2 -->

          <!-- Start Service Icon 3 -->
          <div class="col-md-4 col-sm-4 service-box service-icon-left-more">
            <div class="service-icon">
              <i class="fa fa-rocket fa-4x"></i>
            </div>
            <div class="service-content">
              <h4>User-friendly Interface</h4>
              <p>Easy to pick up on how to find a job on our web! JUst hover your mouse and follow our specific insutructions!</p>
            </div>
          </div>
          <!-- End Service Icon 3 -->

        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
      <!-- End Services Section -->


      <!-- Start Portfolio Section -->
      <div class="project">
        <div class="container">
          <!-- Start Recent Projects Carousel -->
          <div class="recent-projects">
            <h4 class="title"><span>Jobs In Demand</span></h4>
            <div class="projects-carousel touch-carousel">

              <div class="portfolio-item item">
                <div class="portfolio-border">
                  <div class="portfolio-thumb">
                    <a class="lightbox" data-lightbox-type="ajax" href="https://vimeo.com/78468485">
                      <div class="thumb-overlay"><i class="fa fa-play"></i></div>
                      <img alt="" src="images/portfolio-1/1.png" />
                    </a>
                  </div>
                  <div class="portfolio-details">
                    <a href="#">
                      <h4>Lorem Ipsum Dolor</h4>
                      <span>Website</span>
                      <span>Drawing</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="portfolio-item item">
                <div class="portfolio-border">
                  <div class="portfolio-thumb">
                    <a class="lightbox" title="This is an image title" href="images/portfolio-big-01.jpg">
                      <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                      <img alt="" src="images/portfolio-1/2.png" />
                    </a>
                  </div>
                  <div class="portfolio-details">
                    <a href="#">
                      <h4>Lorem Ipsum Dolor</h4>
                      <span>Logo</span>
                      <span>Animation</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="portfolio-item item">
                <div class="portfolio-border">
                  <div class="portfolio-thumb">
                    <a href="#">
                      <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                      <img alt="" src="images/portfolio-1/3.png" />
                    </a>
                  </div>
                  <div class="portfolio-details">
                    <a href="#">
                      <h4>Lorem Ipsum Dolor</h4>
                      <span>Drawing</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="portfolio-item item">
                <div class="portfolio-border">
                  <div class="portfolio-thumb">
                    <a href="#">
                      <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                      <img alt="" src="images/portfolio-1/4.png" />
                    </a>
                  </div>
                  <div class="portfolio-details">
                    <a href="#">
                      <h4>Lorem Ipsum Dolor</h4>
                      <span>Website</span>
                      <span>Ilustration</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="portfolio-item item">
                <div class="portfolio-border">
                  <div class="portfolio-thumb">
                    <a class="lightbox" title="This is an image title" href="images/portfolio-big-02.jpg">
                      <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                      <img alt="" src="images/portfolio-1/5.png" />
                    </a>
                  </div>
                  <div class="portfolio-details">
                    <a href="#">
                      <h4>Lorem Ipsum Dolor</h4>
                      <span>Logo</span>
                      <span>Drawing</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="portfolio-item item">
                <div class="portfolio-border">
                  <div class="portfolio-thumb">
                    <a href="#">
                      <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                      <img alt="" src="images/portfolio-1/6.png" />
                    </a>
                  </div>
                  <div class="portfolio-details">
                    <a href="#">
                      <h4>Lorem Ipsum Dolor</h4>
                      <span>Animation</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="portfolio-item item">
                <div class="portfolio-border">
                  <div class="portfolio-thumb">
                    <a class="lightbox" title="This is an image title" href="images/portfolio-big-03.jpg">
                      <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                      <img alt="" src="images/portfolio-1/7.png" />
                    </a>
                  </div>
                  <div class="portfolio-details">
                    <a href="#">
                      <h4>Lorem Ipsum Dolor</h4>
                      <span>Website</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="portfolio-item item">
                <div class="portfolio-border">
                  <div class="portfolio-thumb">
                    <a href="#">
                      <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                      <img alt="" src="images/portfolio-1/8.png" />
                    </a>
                  </div>
                  <div class="portfolio-details">
                    <a href="#">
                      <h4>Lorem Ipsum Dolor</h4>
                      <span>Ilustration</span>
                      <span>Animation</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="portfolio-item item">
                <div class="portfolio-border">
                  <div class="portfolio-thumb">
                    <a href="#">
                      <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                      <img alt="" src="images/portfolio-1/9.png" />
                    </a>
                  </div>
                  <div class="portfolio-details">
                    <a href="#">
                      <h4>Lorem Ipsum Dolor</h4>
                      <span>Ilustration</span>
                      <span>Animation</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="portfolio-item item">
                <div class="portfolio-border">
                  <div class="portfolio-thumb">
                    <a href="#">
                      <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                      <img alt="" src="images/portfolio-1/10.png" />
                    </a>
                  </div>
                  <div class="portfolio-details">
                    <a href="#">
                      <h4>Lorem Ipsum Dolor</h4>
                      <span>Ilustration</span>
                      <span>Animation</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="portfolio-item item">
                <div class="portfolio-border">
                  <div class="portfolio-thumb">
                    <a href="#">
                      <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                      <img alt="" src="images/portfolio-1/11.png" />
                    </a>
                  </div>
                  <div class="portfolio-details">
                    <a href="#">
                      <h4>Lorem Ipsum Dolor</h4>
                      <span>Ilustration</span>
                      <span>Animation</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="portfolio-item item">
                <div class="portfolio-border">
                  <div class="portfolio-thumb">
                    <a href="#">
                      <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                      <img alt="" src="images/portfolio-1/12.png" />
                    </a>
                  </div>
                  <div class="portfolio-details">
                    <a href="#">
                      <h4>Lorem Ipsum Dolor</h4>
                      <span>Ilustration</span>
                      <span>Animation</span>
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- End Recent Projects Carousel -->
        </div>
        <!-- .container -->
      </div>
      <!-- End Portfolio Section -->


      <!-- Divider -->
      <div class="hr1 margin-60"></div>


      <!-- Start News & Skill Section -->
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!-- Classic Heading -->
            <h4 class="classic-title"><span>Latest Jobs</span></h4>

            <!-- Start Latest Posts -->
            <div class="latest-posts-classic">

              <!-- Post 1 -->
              <div class="post-row">
                <div class="left-meta-post">
                  <div class="post-date"><span class="day">06</span><span class="month">June</span></div>
                  <div class="post-type"><i class="fa fa-picture-o"></i></div>
                </div>
                <h3 class="post-title"><a href="#">Programmer</a></h3>
                <div class="post-content">
                  <p> Have a degree certificate in Programming? Here's a suitable job available now! </a></p>
                  <a class="read-more" href="#">Read More...</a></p>
                </div>
              </div>

              <!-- Post 2 -->
              <div class="post-row">
                <div class="left-meta-post">
                  <div class="post-date"><span class="day">02</span><span class="month">June</span></div>
                  <div class="post-type"><i class="fa fa-picture-o"></i></div>
                </div>
                <h3 class="post-title"><a href="#">Human Resource</a></h3>
                <div class="post-content">
                  <p> Do you like desk bound job? Handling with calls and enquiries? Here's a chance for you to apply! 
                  <a class="read-more" href="#">Read More...</a></p>
                </div>
              </div>

            </div>
            <!-- End Latest Posts -->
          </div>
          <!-- .col-md-6 -->

          <div class="col-md-6">

            <!-- Classic Heading -->
            <h4 class="classic-title"><span>SKills In Demand</span></h4>

            <div class="skill-shortcode">
              <div class="skill">
                <p>Web Analytics</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" data-percentage="85">
                    <span class="progress-bar-span">85%</span>
                    <span class="sr-only">85% Complete</span>
                  </div>
                </div>
              </div>
              <div class="skill">
                <p>Java Development</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" data-percentage="75">
                    <span class="progress-bar-span">75%</span>
                    <span class="sr-only">75% Complete</span>
                  </div>
                </div>
              </div>
              <div class="skill">
                <p>User Interface Design</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" data-percentage="54">
                    <span class="progress-bar-span">54%</span>
                    <span class="sr-only">54% Complete</span>
                  </div>
                </div>
              </div>
              <div class="skill">
                <p>Computer graphics and animation</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" data-percentage="38">
                    <span class="progress-bar-span">38%</span>
                    <span class="sr-only">38% Complete</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- .col-md-6 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
      <!-- End News & Skill Section -->

      <!-- Start Team Member Section -->
      <div class="section" style="background:#fff;">
        <div class="container">

          <!-- Start Big Heading -->
          <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
            <h1>Our Great <strong>Team</strong></h1>
          </div>
          <!-- End Big Heading -->

          <!-- Some Text -->
          <p class="text-center">We are a group of <span class="accent-color sh-tooltip" data-placement="bottom" title="Simple Tooltip">NYP</span> lecturers and final year students from School of Information Technology (SIT).</p>
          <br>

          <!-- Start Team Members -->
          <div class="row">

            <!-- Start Member 1 -->
            <div class="col-md-3 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="03">
              <div class="team-member modern">
                <!-- Member Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="<%= image_path('Anon-Mask.jpg') %>" style="width: 85%;">
                  <div class="member-name">Belson Heng <span>Developer</span>
                  </div>
                </div>
                <!-- Member Words -->
                <div class="member-info">
                  <p>Being able to put my passion for designing into web design is the greatest thing on earth!</p>
                </div>
                <!-- Start Progress Bar 1 -->
                <div class="progress-label">Photoshop</div>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-progress-animation="96%" data-appear-animation-delay="400">
                    <span class="percentage">96%</span>
                  </div>
                </div>
                <!-- Start Progress Bar 2 -->
                <div class="progress-label">Logo Design</div>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-progress-animation="94%" data-appear-animation-delay="800">
                    <span class="percentage">94%</span>
                  </div>
                </div>
                <!-- Start Progress Bar 3 -->
                <div class="progress-label">Vectors Design</div>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-progress-animation="90%" data-appear-animation-delay="1200">
                    <span class="percentage">90%</span>
                  </div>
                </div>
                <!-- Member Social Links -->
                <div class="member-socail">
                  <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                  <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                  <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <!-- End Member 1 -->

            <!-- Start Member 2 -->
            <div class="col-md-3 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="04">
              <div class="team-member modern">
                <!-- Member Photo, Name & Position -->
                <div class="member-photo">
                <img alt="" src="<%= image_path('Anon-Mask.jpg') %>" style="width: 85%;">
                  <div class="member-name">Gabriel Woo <span>Developer</span>
                  </div>
                </div>
                <!-- Member Words -->
                <div class="member-info">
                  <p>I have a great interest in design and this definitely helps me to fulfil my dream! Hope you guys like the design.</p>
                </div>
                <!-- Start Progress Bar 1 -->
                <div class="progress-label">Photoshop</div>
                <div class="progress">
                  <div style="animation-delay: 400ms; width: 96%;" class="progress-bar progress-bar-primary" data-progress-animation="100%" data-appear-animation-delay="400">
                    <span class="percentage">96%</span>
                  </div>
                </div>
                <!-- Start Progress Bar 2 -->
                <div class="progress-label">Logo Design</div>
                <div class="progress">
                  <div style="animation-delay: 800ms; width: 88%;" class="progress-bar progress-bar-primary" data-progress-animation="90%" data-appear-animation-delay="800">
                    <span class="percentage">88%</span>
                  </div>
                </div>
                <!-- Start Progress Bar 3 -->
                <div class="progress-label">Vectors Design</div>
                <div class="progress">
                  <div style="animation-delay: 1200ms; width: 100%;" class="progress-bar progress-bar-primary" data-progress-animation="80%" data-appear-animation-delay="1200">
                    <span class="percentage">100%</span>
                  </div>
                </div>
                <!-- Member Social Links -->
                <div class="member-socail">
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                  <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                 
                </div>
              </div>
            </div>
            <!-- End Member 2 -->

            <!-- Start Member 3 -->
            <div class="col-md-3 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="05">
              <div class="team-member modern">
                <!-- Member Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="<%= image_path('Anon-Mask.jpg') %>" style="width: 85%;">
                  <div class="member-name">Tiffany Hong <span>Developer</span>
                  </div>
                </div>
                <!-- Member Words -->
                <div class="member-info">
                  <p>It has been a joy in doing coding for the webpages and design as well! It is a great learning experience that I'll never have.</p>
                </div>
                <!-- Start Progress Bar 1 -->
                <div class="progress-label">Photoshop</div>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-progress-animation="96%" data-appear-animation-delay="400">
                    <span class="percentage">96%</span>
                  </div>
                </div>
                <!-- Start Progress Bar 2 -->
                <div class="progress-label">Logo Design</div>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-progress-animation="88%" data-appear-animation-delay="800">
                    <span class="percentage">88%</span>
                  </div>
                </div>
                <!-- Start Progress Bar 3 -->
                <div class="progress-label">Programming</div>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-progress-animation="80%" data-appear-animation-delay="1200">
                    <span class="percentage">100%</span>
                  </div>
                </div>
                <!-- Member Social Links -->
                <div class="member-socail">
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                  <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <!-- End Member 3 -->

            <!-- Start Member 4 -->
            <div class="col-md-3 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="06">
              <div class="team-member modern">
                <!-- Member Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="<%= image_path('Anon-Mask.jpg') %>" style="width: 85%;">
                  <div class="member-name">Germaine Teo <span>Developer</span>
                  </div>
                </div>
                <!-- Member Words -->
                <div class="member-info">
                  <p>I've never love a job this much. Developing a webpage is definitely fun! I had never felt such a joy!</p>
                </div>
                <!-- Start Progress Bar 1 -->
                <div class="progress-label">Web developer</div>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-progress-animation="96%" data-appear-animation-delay="400">
                    <span class="percentage">96%</span>
                  </div>
                </div>
                <!-- Start Progress Bar 2 -->
                <div class="progress-label"> CCS3</div>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-progress-animation="86%" data-appear-animation-delay="800">
                    <span class="percentage">94%</span>
                  </div>
                </div>
                <!-- Start Progress Bar 3 -->
                <div class="progress-label">Vectors Design</div>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-progress-animation="82%" data-appear-animation-delay="1200">
                    <span class="percentage">90%</span>
                  </div>
                </div>
                <!-- Member Social Links -->
                <div class="member-socail">
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                  <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <!-- End Member 4 -->

          </div>
          <!-- End Team Members -->

        </div>
        <!-- .container -->
      </div>
      <!-- End Team Member Section -->

      <!-- Start Client/Partner Section -->
      <div class="partner" style="padding-bottom: 0px;">
        <div class="container">
          <div class="row">

            <!-- Start Big Heading -->
            <div class="big-title text-center">
              <h1>Our Happy <strong>Clients</strong></h1>
              <p class="title-desc">Partners We Work With</p>
            </div>
            <!-- End Big Heading -->

            <!--Start Clients Carousel-->
            <div class="our-clients">
              <div class="clients-carousel custom-carousel touch-carousel navigation-3" data-appeared-items="1" data-navigation="true">

                <!-- Client 1 -->
                <div class="client-item item">
                  <a href="#"><%= image_tag('partners/nyplogo.jpg', height: '64', width: '180') %></a>
                </div>

                <!-- Client 2 -->
                <div class="client-item item">
                  <a href="#"><img src="images/c2.png" alt="" /></a>
                </div>

                <!-- Client 3 -->
                <div class="client-item item">
                  <a href="#"><img src="images/c3.png" alt="" /></a>
                </div>

                <!-- Client 4 -->
                <div class="client-item item">
                  <a href="#"><img src="images/c4.png" alt="" /></a>
                </div>

                <!-- Client 5 -->
                <div class="client-item item">
                  <a href="#"><img src="images/c5.png" alt="" /></a>
                </div>

                <!-- Client 6 -->
                <div class="client-item item">
                  <a href="#"><img src="images/c6.png" alt="" /></a>
                </div>

                <!-- Client 7 -->
                <div class="client-item item">
                  <a href="#"><img src="images/c7.png" alt="" /></a>
                </div>

                <!-- Client 8 -->
                <div class="client-item item">
                  <a href="#"><img src="images/c8.png" alt="" /></a>
                </div>

              </div>
            </div>
            <!-- End Clients Carousel -->
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->
      </div>
      <!-- End Client/Partner Section -->
    </div>
    <!-- End Content -->