    <!-- Start Content -->
    <div id="content" style="background: url('<%= image_path('testimonials-bg3.jpg') %>');">
      <%= render "shared/messages" %>
      <div class="container">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: 'login-form', class: 'box' }) do |f| %>
          <div class="form-header"><h3>Sign In</h3></div>
          <% if devise_mapping.omniauthable? %>
            <div class="social">
              <ul>
                <li> 
                  <a href="<%= omniauth_authorize_path(:user, :facebook) %>" class="facebook">
                    Facebook
                  </a>
                </li>
                <li>
                  <a href="<%= omniauth_authorize_path(:user, :google) %>" class="google-plus">
                    Google
                  </a>
                </li>
                <li>
                  <a href="<%= omniauth_authorize_path(:user, :linkedin) %>" class="linkedin">
                    LinkedIn
                  </a>
                </li>
              </ul>
            </div>
       
            <div class="divider">
              <span>or</span>
            </div>
          <% end %>

          <div class="field-container">
            <input type="email" name="user[email]" required placeholder="Email" />
            <input type="password" name="user[password]" required placeholder="Password" />
            <%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => true if devise_mapping.rememberable? %>
            <hr/>
          </div>
          <div class="form-footer field-container">
            <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %> 
            <% end %>
            <button id="submit" class="btn btn-system btn-large" type="submit" style="float: right; margin-bottom:30px;" data-disable-with="Signing in...">Sign In</button>
          </div>
        <% end %>

        <p class="text-p">Don't have an account? <a href="<%= jobseeker_signup_path %>" style="text-decoration: underline;">Apply now!</a></p>

      </div>
    </div>
    <!-- End Content -->

<% content_for :script do %>
  <script type="text/javascript">
    history.replaceState ? history.replaceState(null, null, window.location.href.split('#')[0]) : window.location.hash = '';
  </script>
<% end %>
