  <center><h1>Jobseeker Home Page</h1></center>



  <div id="content">
   <div class="container">
   <%= render "shared/messages" %>
   <div class="page-banner" style="padding:30px 0; background: url(images/slide-02-bg.jpg) center #f9f9f9;">
<%if @listing = Listing.where(:user_id => current_user.id , :status => "Open").blank? %>
<h2 class="xs-gamma xs-mb1 xs-mth0" id="hub-header-text" style="text-align : center">We don't have opportunities for you — yet.</h2></br>
<div class="text-light text-black-light p--tall md-prl2" id="hub-explination-text" style="text-align : center">
<center>
You have great experience! Unfortunately, at this time we don’t have enough opportunities that match your role and location preferences. We’ve added your name to our waitlist and will be in touch as soon as we’re confident that we can provide you with quality opportunities!</center>
<%else%>
<h2 class="xs-gamma xs-mb1 xs-mth0" id="hub-header-text" style="text-align : center">Congrats! You have recieved an offer from a company!</h2></br>
<div class="text-light text-black-light p--tall md-prl2" id="hub-explination-text" style="text-align : center">
<center>
Congrats on recieving an offer! Scroll below to see the offers and comments left by the company!
</center>
<%end%>
<%if @listing = Listing.where(:user_id => current_user.id , :status => "Open").blank? %>
<!--If there is no listing-->
<%= simple_form_for :listing, html: { multipart: true} do |f| %>
<%@preferences = Preferences.where(:user_id => current_user.id).to_a.to_a%>
<%@preferences.each do |preference|%>
<input type="hidden" name="listing[amount]" value= '<%= preference.salary %>'>
<%end%>
<%@skill = Skill.where(:user_id => current_user.id).to_a.to_a%>
    <%@skill.each do |skill|%> 
<input type="hidden" name="listing[area]" value= '<%= skill.area %>'>
<%end%>
   <input class="btn-system btn-large" type="submit" value="Apply">
   <%end%>
   <%else%>
   <!--If There's a current Listing-->
   <p>Please wait for the current listing to end!</p>
   <%end%>
   </div>
 </div>

   

<h2> Your Listings: </h2>
       <%@listing = Listing.where(:user_id => current_user.id).to_a.to_a%>
    <%@listing.each do |listing|%>
        <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="media">
                            <div class="media-left media-middle">
                            <%@info = Info.where(:user_id => current_user.id).to_a.to_a%>
    <%@info.each do |info|%>
    <%= image_tag info.avatar.url(:medium) %>
                                <%end%>
                            </div>
                            <div class="media-body">

                                <span id="Name"><h4 class="media-heading"><%= current_user.name%></h4></span>

                                <span id="Status"><strong>Status:</strong> <%=listing.status%></span>
                                <br>
                                <span id="Profile"><strong>Profile:</strong> <a href='/users/<%=current_user.id%>' target="_blank">
                                 Profile Link</a>
                                <br/>
                                <!--Skills-->
                               <%@skill = Skill.where(:user_id => listing.user_id).to_a.to_a%>
    <%@skill.each do |skill|%> 
                                <span id="Area"><strong>Area of Expertise:</strong> <%=skill.area%></span>
                                <br>
                                <span id="Skill"><strong>Top Skill:</strong> <%=skill.skill%></span>
                                <%end%>
                                <br>
                                <!--Preference-->
     <%@preferences = Preferences.where(:user_id => listing.user_id).to_a.to_a%>
    <%@preferences.each do |preference|%>
                                <span id="Preference"><strong>Preference:</strong> Prefers only <%= preference.type%> roles with a base salary of <span style="color:green;"> $<%= preference.salary%>/yr</span>
    <%end%>
                                <br>
                                <br>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <%end%>


<h2>Your Offers:</h2>
<!--If there is a Offer-->
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="media">
                        <div class="media-left media-middle"> </div>
                        <div class="media-body">
 <%@listing = Listing.where(:user_id => current_user.id).to_a.to_a%>
    <%@listing.each do |listing|%>
<%@offer = Offer.where(:listing_id => listing.id).to_a.to_a%>
    <%@offer.each do |offer|%>
                            <span id="Amount"><strong>Amount Offered:</strong><span style="color:green;">$<%= offer.amount%></span></span>
                            <br>
                            <span id="Comment"><strong>Comment:</strong><%= offer.comment%></span>
                            <br>
                            <%@user = User.where(:id => offer.user_id).to_a.to_a%>
                            <%@user.each do |user|%>
                            <span id="Company"><strong>Company:</strong> <%= user.company%></span><br/>
                            <span id= "Name"><strong>Name:</strong> <%=user.name%></span><br/>
                            <span id= "contact"><strong>Contact:</strong><a href='mailto:<%=user.email%>'><%=user.email%></a></span>
                            <%end%>
                            
                        </div>
                    </div>
                </div>
            </div>
<%end%>
<%end%>

<!--If there is no offer-->
<%@listing = Listing.where(:user_id => current_user.id).to_a.to_a%>
    <%@listing.each do |listing|%>
<% if @offer = Offer.where(:listing_id => listing.id).blank?%>
                            <p><strong>Sorry, no offer was placed!</strong></p>
                        </div>
                    </div>
                </div>
            </div>
<%end%>
<%end%>




  </div>
  </div>
   </div>
 </div>
 </div>
 </div>


