<div id="content" style="background: url('<%= image_path('testimonials-bg3.jpg') %>');">
  <div class="container">
  	<!-- section 1 -->
  	<div class="row">
      <div class="box" style="max-width: 80%; padding: 2rem;">
      	<div class="profile" style="display: flex;">
      	  <div class="candidate-profile-photo">
            <a href="<%= jobseeker_personal_info_path %>">
          	  <img alt="Add Profile Photo" src="<%= image_path('add_profile_photo.png') %>" width="150"></img>
            </a>
      	    <div class="candidate-profile-add-photo">+ Add Photo</div>
      	  </div>
      	  <div style="margin-right:20px">
      	  </div>
      	  <div class="profile-body">
      	      <div style="font-weight: 300; font-size: 2.4rem; float: left;"><%= @name %></div>
      	      <div><a href="<%= jobseeker_personal_info_path %>" class="btn-system btn-small" style="float:right;">Edit Profile</a></div>
      	      <div style="clear:both;"></div>
	        <div style="padding: 1rem 0;">
	          <p>Lives in <%= @location %></p>
	        </div>
	        <div class="box-yellow-light">
	      	  <a href="<%= jobseeker_pitch_path %>">
	      	    <strong>+ Write your Pitch -</strong>
	      	    Tell us your greatest achievement and what you're looking for.
	      	  </a>
	        </div>
	        <div style="padding: 1rem 0;">
	      	  <ul style="list-style: inside none none; list-style-type: disc;">
	      	    <li>Prefers only permanent roles at a base salary of <span class="accent-color" style="font-weight: 500;">S$55,000/yr</span></li>
	      	  </ul>
	        </div>
	      </div>
        </div>
      </div>
    </div>
    <div class="row">
  	  <div class="box" style="max-width: 80%; border-top: 1px solid #DEE0E5; padding: 1rem 2rem; font-weight: bold; font-size: 1.2rem;">
  	    <a href="#" style="padding-right: 2rem; letter-spacing: 1px;">CV</a>
  	    <a href="#" style="padding-right: 2rem; letter-spacing: 1px;">+ Add More Links</a>
  	  </div>
    </div>
    <!-- .section 1 -->

    <!-- Divider -->
    <div class="hr1" style="padding: 1rem;"></div>
    
    <!-- section 2 -->
    <div class="row">
      <div class="box" style="max-width: 80%; padding: 2rem;">
        <div class="big-title"><h3>What I'm Looking For Next</h3></div>
      </div>
    </div>
    <!-- .section 2 -->

    <!-- Divider -->
    <div class="hr1" style="padding: 1rem;"></div>

    <!-- section 3 -->
    <div class="row">
      <div class="box" style="max-width: 80%; padding: 2rem;">
        <div class="big-title"><h3>Primary Areas Of Expertise</h3></div>
        <div>Primary areas here</div>

        <div class="big-title"><h3>Additional Skills</h3></div>
      </div>
    </div>
    <!-- .section 3 -->

    <!-- Divider -->
    <div class="hr1" style="padding: 1rem;"></div>

    <!-- section 4 -->
    <div class="row">
      <div class="box" style="max-width: 80%; padding: 2rem;">
        <div class="big-title"><h3>About Me</h3></div>
        <div>More about me</div>
      </div>
    </div>
    <!-- .section 4 -->
  </div>
</div>