<div id="content" style="background: url('<%= image_path('testimonials-bg3.jpg') %>');">
  <div class="container">
    <div class='box' style="max-width: 800px;">
      <div class="form-header"><h3>Social Media Integrations</h3></div>
      <section style="padding: 3rem; margin-top: 10px; margin-bottom: 40px;">  
        <div class="col-md-3" style="text-align: center;">
          <img alt="Google" src="<%= image_path('google.png') %>">
        </div>
        <div class="col-md-6">Enables sign-in with Google and Google Calendar integration.</div>
        <div class="col-md-3">
          <% if current_user.identities.where(provider: 'google').exists? %>
          <a class="btn-system btn-small" data-confirm="Are you sure you want to disconnect your Google account?" data-remote="true" rel="nofollow" data-method="delete" href="<%= user_google_omniauth_authorize_path %>" style="float:right;">Disconnect</a>
          <% else %>
          <a class="btn-system btn-small" href="<%= user_google_omniauth_authorize_path %>" style="float:right;">Connect</a>
          <% end %>
        </div>
      </section>
      <hr style="margin-bottom: 10px;"/>
      <section style="padding: 3rem; margin-bottom: 40px;">  
        <div class="col-md-3" style="text-align: center;">
          <img alt="Facebook" src="https://d1enbull9nrjgw.cloudfront.net/assets/integrations/facebook-af2f447bb6c269dbf1ec82c1bd890aec.png">
        </div>
        <div class="col-md-6">Enables sign-in with Facebook and imports your Facebook profile photo.</div>
        <div class="col-md-3">
          <% if current_user.identities.where(provider: 'facebook').exists? %>
          <a class="btn-system btn-small" data-confirm="Are you sure you want to disconnect your Facebook account?" data-remote="true" rel="nofollow" data-method="delete" href="<%= user_facebook_omniauth_authorize_path %>" style="float:right;">Disconnect</a>
          <% else %>
          <a class="btn-system btn-small" href="<%= user_facebook_omniauth_authorize_path %>" style="float:right;" >Connect</a>
          <% end %>
        </div>
      </section>
      <hr style="margin-bottom: 10px;"/>
      <section style="padding: 3rem; margin-bottom: 40px;">  
        <div class="col-md-3" style="text-align: center;">
          <img alt="Linkedin" src="<%= image_path('linkedIn.png') %>">
        </div>
        <div class="col-md-6">Enables sign-in with LinkedIn and links your public profile.</div>
        <div class="col-md-3">
          <% if current_user.identities.where(provider: 'linkedin').exists? %>
          <a class="btn-system btn-small" data-confirm="Are you sure you want to disconnect your LinkedIn account?" data-remote="true" rel="nofollow" data-method="delete" href="<%= user_linkedin_omniauth_authorize_path %>" style="float:right;">Disconnect</a>
          <% else %>
          <a class="btn-system btn-small" href="<%= user_linkedin_omniauth_authorize_path %>" style="float:right;">Connect</a>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>