 <!-- Start Header Section -->
    <div class="hidden-header"></div>
    <header class="clearfix">
      
      <!-- Start Top Bar -->
      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
             <!-- Start Contact Info -->
              <ul class="contact-details">
                <li><a target="_blank" href="https://goo.gl/6uGsPE"><i class="fa fa-map-marker"></i> 180 Ang Mo Kio Ave 8, Singapore 569830</a>
                </li>
                <li><a href="mailto:headhunter.nyp@gmail.com"><i class="fa fa-envelope-o"></i> headhunter.nyp@gmail.com</a>
                </li>
                <li><a href="tel:+65 6550 1637"><i class="fa fa-phone"></i> +65 6550 1637</a>
                
                </li>
              </ul>
              <!-- End Contact Info -->

            </div>
            <!-- .col-md-6 -->
            <div class="col-md-6">
              <!-- Start Social Links -->
              <ul class="social-list">
                <li>
                  <a class="facebook itl-tooltip" data-placement="bottom" title="Facebook" href="https://www.facebook.com/Headhunter-278420185833869/"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a class="twitter itl-tooltip" data-placement="bottom" title="Twitter" href="https://twitter.com/headhunter_nyp"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a class="google itl-tooltip" data-placement="bottom" title="Google Plus" href="https://plus.google.com/108243942775239531516/posts"><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                  <a class="linkdin itl-tooltip" data-placement="bottom" title="Linkedin" href="https://sg.linkedin.com/in/head-hunter-1213b5120"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
              <!-- End Social Links -->
            </div>
            <!-- .col-md-6 -->
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->
      </div>
      <!-- .top-bar -->
      <!-- End Top Bar -->


      <!-- Start  Logo & Naviagtion  -->
      <div class="navbar navbar-default navbar-top">
        <div class="container">
          <div class="navbar-header">
            <!-- Stat Toggle Nav Link For Mobiles -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="fa fa-bars"></i>
            </button>
            <!-- End Toggle Nav Link For Mobiles -->
            <a class="navbar-brand" href="<%= root_url %>">
              <span style="display: inline; position: absolute; width: 250px; top: 16px; padding-bottom: 22px;">
                <img alt="" src="<%= image_path('stripes.png') %>" class="logo">
                <img alt="" src="<%= image_path('logo.png') %>">
              </span>
            </a>
          </div>
          <div class="navbar-collapse collapse">
            <!-- Start Navigation List -->
            <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <% else %>
              <li>
                <a class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'how_it_works' %>" href="<%= how_it_works_path %>">HOW IT WORKS</a>
              </li>
              <%end %>
              <% if user_signed_in? %>
              <%if  current_user.type == "JobSeeker"%>
              <li>
                <a class="<%= 'active' if params[:controller] == 'jobseeker' && params[:action] == 'home' %>" href="<%= jobseeker_home_path %>">HOME</a>
                </li>
                <% else%>
                <%if current_user.type == "Employers"%>
              <li>
                <a class="<%= 'active' if params[:controller] == 'employer' && params[:action] == 'home' %>" href="<%= employer_home_path %>">HOME</a>
                </li>
                <%end %>
                <%end %>
                <%end %>
                <% if user_signed_in? == false %>
              <li>
                <a class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'employers' %>" href="<%= employers_path %>">EMPLOYERS</a> 
              </li>
              <%end %>
              
            
              
              <% if user_signed_in? %>
              <li>
                <a class="<%= 'active' if params[:controller] == 'registrations' && params[:action] == 'edit' %>" href="<%= edit_user_registration_path %>">PROFILE</a>
              </li>
              <% else %>
              <li>
                <a class="<%= 'active' if params[:controller] == 'devise/sessions' && params[:action] == 'new' %>" href="<%= new_user_session_path %>">SIGN IN</a>
              </li>
              <%end %>
              <% if user_signed_in? %>
              <li>
              <a class="<%= 'active' if params[:controller] == 'devise/sessions' && params[:action] == 'new' %>" href="<%= destroy_user_session_path%>" data-method="delete" rel="nofollow">SIGN OUT</a>
              </li>
              <%else %>
              <li>
                <a class="<%= 'active' if params[:controller] == 'registrations' && params[:action] == 'new' %>" href="<%= new_user_registration_path %>">SIGN UP</a>
              </li>
              <%end %>
            </ul>
            <!-- End Navigation List -->
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="wpb-mobile-menu">
          <li>
            <a class="active" href="index.html">HOW IT WORKS</a>
          </li>
          <li>
            <a href="<%= employers_path %>">EMPLOYERS</a>
          </li>
          <li>
            <a href="<%= new_user_session_path %>">SIGN IN</a>
          </li>
          <li>
            <a href="<%= new_user_registration_path %>">SIGN UP</a>
          </li>
        </ul>
        <!-- Mobile Menu End -->

      </div>
      <!-- End Header Logo & Naviagtion -->

    </header>
    <!-- End Header Section -->