<div class="col-md-3 sidebar left-sidebar">
  <div class="widget widget-categories">
    <ul>
      <li>
        <a href="<%= jobseeker_personal_info_path %>">Personal Info</a>
      </li>
      <li>
        <a href="<%= jobseeker_pitch_path %>">Pitch</a>
      </li>
      <li>
        <a href="<%= jobseeker_summary_path %>">Summary</a>
      </li>
      <li>
        <a href="<%= jobseeker_role_skill_path %>">Role and Skills</a>
      </li>      
      <li>
        <a href="<%= jobseeker_job_info_path %>">Job Preferences</a>
      </li>
      <li>
        <a href="<%= jobseeker_history_path %>">Work and Education</a>
      </li>
      <li>
        <a href="<%= jobseeker_online_presence_path %>">Résumé and Links</a>
      </li>
      <li>
        <a href='<%= jobseeker_recommendation_path %>'>Recommendations</a>
      </li>
      <li>
        <a href='<%= jobseeker_blocked_companies_path %>'>Blocked Companies</a>
      </li>
    </ul>
  </div>
  <a href="<%= jobseeker_profile_path %>" style="margin-top: 3rem;">View Profile</a>
</div>